 :root {
  --primary-colour: ;
  --secondary-colour: ;
  --heading-font-family: 'DM Serif Display', serif;
  --paragraph-font-family: 'Noto Serif JP', serif;
  --background-colour:rgba(115, 114, 114, 0.057) ;
 }
 
 body {
  background-color: var(--background-colour);
 }

 h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
 }
 
 p {
  font-family: var(--paragraph-font-family);
 }

 .job-title {
  font-size: 30px;
 }

 .location {
  font-size: 18px;
  line-height: 1.5px;
 }

 .name-bio {

  margin-top: 225px;
  padding-right: 50px;

 }

 .links {

  text-align: right;
  margin-top: 160px;
  font-size: 50px;

 }

 .link-title {
  font-family: var(--heading-font-family);
  font-size: 90px;
  text-decoration: none;
  color: rgb(39, 39, 39);
 }

 .link-title:hover {
  cursor: pointer;
  text-decoration: underline;
 }

@media (max-width: 770px) {
  
  h1 {
    font-size: 50px;
    text-align: left;
    margin-right: 3px;
  }

  .job-title {
    font-size: 20px;
    text-align: left;
  }

  .location {
    font-size: 15px;
    text-align: left;
  }

  .links {
    margin-top: 20px;
    line-height: 1.2;
    text-align: left;
  }
  
  .link-title {
    font-size: 40px;
  }

  .name-bio {
    margin-top: 30px;
    text-align: left;
  }

}

@media (min-width: 770px) and (max-width: 1012px) {
  
  h1 {
    font-size: 45px;
    text-align: left;
    margin-right: 3px;
  }

  .job-title {
    font-size: 20px;
    text-align: left;
  }

  .location {
    font-size: 15px;
    text-align: left;
  }

  .links {
    margin-top: 70px;
    line-height: 1.2;
    text-align: right;
  }
  
  .link-title {
    font-size: 50px;
  }

  .name-bio {
    margin-top: 80px;
    text-align: right;
  }

}

